.app__Services {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
}
.app__skils-container {
  width: 80%;
  display: flex;
  flex: 1;
  margin-top: 2rem;
  @media screen and (max-width: 1200px) {
    flex-direction: column;
    width: 100%;
  }
  .app__Services-list {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 3rem;
    flex-wrap: wrap;
    @media screen and (max-width: 450px) {
      margin: 0;
      justify-content: center;
      align-items: center;
    }
    .app__Services-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .app__Services-Image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #fef4f5;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
        img {
          width: 60%;
          height: 60%;
        }
      }
    }
  }
}
.app__skils-experience {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  @media screen and (max-width: 1200px) {
    justify-content: center;
    align-items: center;
  }
  .app__Services-item {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    @media screen and (max-width: 450px) {
      flex-direction: column;
    }
    .app__Services-year {
      margin-right: 1.5rem;
      color: var(--secondary-color);
      font-weight: bold;
      font-size: 1.3rem;
      @media screen and (max-width: 450px) {
        margin-bottom: 0.5rem;
      }
    }
    .app__Services-title {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      @media screen and (max-width: 450px) {
        h4 {
          font-size: 18px;
        }
      }
      .app__skils-company {
        margin-top: 0.8rem;
        text-transform: uppercase;
        color: var(--secondary-color);
        font-weight: bold;
        @media screen and (max-width: 450px) {
          font-size: 20px;
        }
      }
    }
  }
}
.custom-shape-divider-bottom-1692252277 {
  position: absolute;
  bottom: -100px;
  left: -50px;
  width: 110%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1692252277 svg {
  position: relative;
  display: block;
  width: calc(253% + 1.3px);
  height: 240px;
}

.custom-shape-divider-bottom-1692252277 .shape-fill {
  fill: #2b5497;
}


.raduis{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  border: 6px solid rgba(0,0,0,0.75) !important;
}

.clips{
  position: absolute;
  z-index: -99;
  width: 100%;
  height: 70%;
  top:30%;
  left: 0;
  background-image: url('https://media.istockphoto.com/id/1255604806/photo/smooth-sky-blue-color-paper-for-background.webp?b=1&s=612x612&w=0&k=20&c=c46IH_OOloXgzpSg-MoviXu_ZBDvov7qlTiqYXgcS6s=');
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 100%, 0% 100%);
}
